<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <title>Document</title>
</head>
<body>
    <h1>Login page </h1>
    <form>
  <label for="fname">ENTER YOUR NAME:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">YOUR PASSWORD</label><br>
  <input type="password" id="lname" name="lname">
</form>

</body>
</html>